<!DOCTYPE html>
<html>
  <meta charset="utf-8"/>
  <head>
  <title>Seat Yourself</title>
    <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/application.css" />
</head>
<body>
  <div class="container">

<!--===========HEADER SECTION =============-->

<header>

  <a href="#Index" unselectable="on" id="logo">Seat Yourself</a>
<div class="nav_bar">
<ul class="nav_bar_options">
  <li class="button">
    <a href="#Sign In">Sign In</a>
  </li>
  <li class= "button">
    <a href="#Register">Register</a>
  </li>
</ul>
</div>


</header>


<!--============MAIN SECTION=================-->

<!-- <%= yield %> --->

<main>

<h1>Never wait for a seat again.</h1>

<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.

</p>


</main>

<!-- <%= yield %> -->

<!--=============FOOTER SECTION===============-->

<footer>

  <p>Siéntate Industries, all rights reserved.</p>

  <a href="#Index" unselectable="on" id="logo_bottom">Seat Yourself</a>

  <p class = "restaurant_link">Do you own a restaurant? Log in <a href=#Restaurant_Owner>here</a></p>

</footer>

</body>
</html>
